doctype 5
html(lang="en")
    head
        title Wroe Family Adventure Game
       
        
        script(src="javascripts/vendor.js")
        script(src="javascripts/app.js")
        //script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        link(rel="stylesheet",href="stylesheets/app.css")
        //script(type="text/javascript",src="http://github.com/jashkenas/coffee-script/raw/master/extras/coffee-script.js")
        :coffeescript
            # i would have rooms to start with and ways to move around rooms
            $ -> 
                $('#doit').click(()->
                    $('#response').append("<p>#{$('#instruction').val()}</p>")
                )
    body.application
        .container
            .row
                .span9.offset1
                    h1 Isabel and William's Adventure Game
                    h2 First step
                    p
                        | This first step shows you the basics of the game. There is an area where the game
                        | tells you what is happening. At the bottom is a box in which you can type in instructions.
                        | Next to it is a button which if you click will tell the character to do that thing.
                    p
                        | It is basic at the moment. If you press the button it just repeats that text in the box 
                        | above it. The aim of this exercise is for you to understand enough to change a bit of the webpage. 
                        | The title at the top of the page for example.
                    p.
                        First of all, I need to explain a bit about computer languages. Computers aren't clever enough to
                        understand the languages we speak like English or French. We have to use simplified languages. The Web
                        is made up of three of these.
                    dl
                        dt HTML
                        dd
                            p.
                                HTML stands for Hypertext Markup Language. It is the language we use for describing what text, 
                                pictures, and buttons appear on a web page. Markup languages are languages for text documents 
                                where additional instructions to the computer are added with tags. Tags are usually written 
                                with angle brackets '<>'. One goes at the start of the tag and one at the end. So a tag may look
                                like this <code>&lt;p&gt;</code>. Tags are usually used to go before and after some text to change
                                 the way it looks. The first is called the opening tag and the second is called the closing tag. They 
                                 will have the same name but the closing tag will have a forward slash before it. 
                                 <code>&lt;b&gt; I would be shown with bold text &lt;/b&gt;</code> like <b>this</b>. 
                             p.
                                 A lot of the time tags can appear within other tags. So for example a list is surrounded by a
                                  <code>&lt;ol&gt;</code> tag. Before the closing <code>&lt;/ol&gt;</code> tag there will be some 
                                  <code>&lt;li&gt;</code> tags for each item in the list. 
                             p.
                                 It is important to
                                 know that tags can also have names (or ids), and belong to classes. Just like you have a name and belong to 
                                 a class at school. Well tags actually can belong to more than one class but only have one name. To say the name and 
                                 which classes a tag belongs to you use tag attributes. 
                                 <code>&lt;p id="Bill" class="important warning"&gt;</code>. That says the tag has name Bill, and belongs
                                 to the important and warning classes. The closing tag doesn't need the same information. These names and 
                                 classes are needed for the next language CSS.
                                 <a href="http://www.w3schools.com/html/default.asp">W3C Schools</a> have lots more information on HTML.
                        dt CSS
                        dd.
                            CSS stands for Cascading Style Sheet. If HTML is used to say what should appear on a web page, css says
                            how it should appear. That means both the colour and sizes of text and the background, but also where 
                            different blocks of text appear on the page. They use the names and classes of tags I showed you just know
                             to pick out which tags to describe. It does this using 'selectors'. This is like team captains selecting 
                             out players for their teams. Each team of tags is then given a specific instruction such as 'be red'.<br> 
                             <code>.warning {color:red;} </code>. This says make all tags in the warning class red. Classes are 
                             selected using '.'. Names (ids) are selected using the '#'.<br>
                             <code>#Bill {background-color:blue;} </code>. This says make the tag with the name (id) 'Bill' blue. Go to 
                             <a href="http://www.w3schools.com/css/default.asp">W3C Schools</a> for more information on CSS.
                        dt JavaScript
                        dd
                            JavaScript turns a web page from some boring text in to something that you can play. It tells the computer
                             what to do if you push buttons. For example <code> alert('Hello'); </code> would pop up a little box
                             saying Hello. Go to 
                              <a href="http://www.w3schools.com/js/default.asp">W3C Schools</a> for more information on JavaScript.
                    p.
                        To make these languages a bit easier to work with as humans, some people have come along and developed easier 
                        (in my opinion) versions to work with and given them different names:
                    dl
                        dt Jade
                        dd
                            p.
                                Jade is called a templating language. It lets you write HTML in a simpler way. You don't have to use the 
                                angle brackets or closing tags. To show that one tag should be within another tag you put it on the next
                                line indented using the tab key.
                            pre
                                code.
                                    html  
                                        head 
                                        body
                                            ol 
                                                li The first item in the list
                            p.
                                The id and name attributes are used so often they can be written using a '#' before the id and a '.' before
                                each class (as with CSS selectors). 
                            pre
                                code.
                                    p#Bill.important.warning
                            p.
                                The div tag is used so often in html with classes and an id that it can appear even without a name.
                            pre
                                code.
                                    .important.warning
            .row
                .span9.offset1.monitor#response
            .row
                .span9.offset1.input
                    .input-append
                        input.span8#instruction(type="text",placeholder="tell me what to do...")
                        button.btn#doit(type="submit") Do it
            .row.
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">CoffeeScript Adventure Games Tutorial</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/ChrisWroe/cs-game-tute" property="cc:attributionName" rel="cc:attributionURL">Chris Wroe</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                
       
                        