doctype 5
html(lang="en")
    head
        title Wroe Family Adventure Game
       
        
        script(src="javascripts/vendor.js")
        script(src="javascripts/app.js")
        link(rel="stylesheet",href="stylesheets/app.css")
        :coffeescript
            # this is the only bit of program in the web page at the moment
            $ -> 
                $('#doit').click(()->
                    $('#response').append("<p>#{$('#instruction').val()}</p>")
                )
    body.application
        .container
            .row
                .span9.offset1
                    // change this here
                    h1 Wroe Family Treasure Hunt
                    h2 First Clue
                    // change this here
                    p
                        | This first step shows you the basics of the game. There is an area where the game
                        | tells you what is happening. At the bottom is a box in which you can type in instructions.
                        | Next to it is a button which if you click will tell the character to do that thing.
             .row
                .span9.offset1.monitor#response
            .row
                .span9.offset1.input
                    .input-append
                        input.span8#instruction(type="text",placeholder="tell me what to do...")
                        button.btn#doit(type="submit") Do it
                    a(name="editor")
                    p
                        | It is basic at the moment. If you press the button it just repeats that text in the box 
                        | above it. Go on try it!
                    p
                        | The aim of this exercise is for you to understand enough to change a bit of the webpage. 
                        | The title at the top of the page for example. I'll just give you enough info to change something, 
                        | then to understand exactly what you are doing read the rest of this web page.
                    p.
                        Open up the following file in a text editor. See <a href="#editor">what is a text editor</a>
                         for more info.
                    pre
                        code app/jade-doc/adventure-ex1.jade
                    p.
                        Look for some text near the top of the file that says this
                    // dont change this one this is just the instructions!
                    pre
                        code.
                            h1 Wroe Family Adventure Game
                            h2 First step
                    p.
                        Change the text after the h1 or h2 to something else then reload the page in the browser. That is click the circular arrows.
                    h3 What is a text editor?
                        
                    
                    p.
                        You are probably taught at school about writing documents using something 
                        like Microsoft Word. They are called WYSIWYG editors (What you see is what you get). If you want text
                         to appear a certain way you select that text and select a menu option to change its appearence
                         right in front of you. Behind the scenes, the program is storing extra information in the file 
                         about how the words should appear but you don't see that extra information. 
                    p.
                        In a text editor, you
                          can't change how individual words look. What you see is all the information stored in the file. 
                         Text editors are useful for editing files that contain instructions for the computer rather than 
                         instructions for people. This text was written in a text editor called <a href="http://macromates.com">
                          TextMate</a> on a Mac. Another text editor for the Mac I have used is 
                         <a href="http://www.barebones.com/products/textwrangler/">TextWrangler</a>.
                          On Windows I have used <a href="http://notepad-plus-plus.org/">Notepad++</a>
                    h3 Languages of the Web
                    p.
                        First of all, I need to explain a bit about computer languages. Computers aren't clever enough to
                        understand the languages we speak like English or French. We have to use simplified languages. The Web
                        is made up of three of these.
                    dl
                        dt HTML
                        dd
                            p.
                                HTML stands for Hypertext Markup Language. It is the language we use for describing what text, 
                                pictures, and buttons appear on a web page. Markup languages are languages for text documents 
                                where additional instructions to the computer are added with tags. Tags are usually written 
                                with angle brackets '<>'. One goes at the start of the tag and one at the end. So a tag may look
                                like this <code>&lt;p&gt;</code>. Tags are usually used to go before and after some text to change
                                 the way it looks. The first is called the opening tag and the second is called the closing tag. They 
                                 will have the same name but the closing tag will have a forward slash before it. 
                                 <code>&lt;b&gt; I would be shown with bold text &lt;/b&gt;</code> like <b>this</b>. 
                             p.
                                 A lot of the time tags can appear within other tags. So for example a list is surrounded by a
                                  <code>&lt;ol&gt;</code> tag. Before the closing <code>&lt;/ol&gt;</code> tag there will be some 
                                  <code>&lt;li&gt;</code> tags for each item in the list. 
                             p.
                                 It is important to
                                 know that tags can also have names (or ids), and belong to classes. Just like you have a name and belong to 
                                 a class at school. Well tags actually can belong to more than one class but only have one name. To say the name and 
                                 which classes a tag belongs to you use tag attributes. 
                                 <code>&lt;p id="Bill" class="important warning"&gt;</code>. That says the tag has name Bill, and belongs
                                 to the important and warning classes. The closing tag doesn't need the same information. These names and 
                                 classes are needed for the next language CSS.
                                 <a href="http://www.w3schools.com/html/default.asp">W3C Schools</a> have lots more information on HTML.
                        dt CSS
                        dd.
                            CSS stands for Cascading Style Sheet. If HTML is used to say what should appear on a web page, css says
                            how it should appear. That means both the colour and sizes of text and the background, but also where 
                            different blocks of text appear on the page. They use the names and classes of tags I showed you just know
                             to pick out which tags to describe. It does this using 'selectors'. This is like team captains selecting 
                             out players for their teams. Each team of tags is then given a specific instruction such as 'be red'.<br> 
                             <code>.warning {color:red;} </code>. This says make all tags in the warning class red. Classes are 
                             selected using '.'. Names (ids) are selected using the '#'.<br>
                             <code>#Bill {background-color:blue;} </code>. This says make the tag with the name (id) 'Bill' be blue. Go to 
                             <a href="http://www.w3schools.com/css/default.asp">W3C Schools</a> for more information on CSS.
                        dt JavaScript
                        dd
                            p.
                                JavaScript turns a web page from some boring text in to something that you can play. It tells the computer
                                 what to do if you push buttons. For example <code> alert('Hello'); </code> would pop up a little box 
                                 saying Hello. Go to 
                                 <a href="http://www.w3schools.com/js/default.asp">W3C Schools</a> for more information on JavaScript.
                    p.
                        To make these languages a bit easier to work with as humans, some people have come along and developed easier 
                        (in my opinion) versions to work with and given them different names:
                    dl
                        dt Jade
                        dd
                            p.
                                Jade is called a templating language. It lets you write HTML in a simpler way. You don't have to use the 
                                angle brackets or closing tags. To show that one tag should be within another tag you put it on the next
                                line indented using the tab key.
                            pre
                                code.
                                    html  
                                        head 
                                        body
                                            ol 
                                                li The first item in the list
                            p.
                                The id and name attributes are used so often they can be written using a '#' before the id and a '.' before
                                each class (as with CSS selectors). 
                            pre
                                code.
                                    p#Bill.important.warning
                            p.
                                The div tag is used so often in html with classes and an id that it can appear even without a name.
                            pre
                                code.
                                    .important.warning
                        dt Stylus
                        dd
                            p.
                                Stylus is a similar simplification of CSS. Rather than use curly brackets, colons, and semicolons
                                 you put the selector on one line and the instructions for the team on the following lines indented
                                 by one tab key.
                            pre
                                code.
                                    #Bill
                                        color Blue
                        dt CoffeeScript
                        dd
                            p.
                                CoffeeScript is an easier to write version of JavaScript. Again you have to use less brackets, curly brackets,
                                and semicolons.
                              pre
                                code.
                                    alert 'Hello'
                    h3 Putting it together
                    p.
                        In the installation instructions you came across a tool called <a href="http://brunch.io">brunch</a>. 
                        We use this tool to take the files we have written in jade, stylus, and coffeescript and
                        translate it in to the HTML, CSS, and JavaScript. 
                    p I've put the jade files in:
                    pre
                        code app/jade-doc
                    p For example this web page is written in jade and I've put it here:
                    pre
                        code app/jade-doc/adventure-ex1.jade
                    p I've put the stylus file here:
                    pre
                        code app/jade-doc/application.styl
                    p.
                        I haven't added any coffeescript files yet. To make it a bit simpler I've just put the coffeescript 
                        in the jade file after the following bit of magic:
                    pre
                        code :coffeescript
                    h3 Help from others
                    h3 So how can I change something?
                                
           
            .row.
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">CoffeeScript Adventure Games Tutorial</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/ChrisWroe/cs-game-tute" property="cc:attributionName" rel="cc:attributionURL">Chris Wroe</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                
       
                                     