doctype 5
html(lang="en")
    head
        title Wroe Family Adventure Game
         
        
        script(src="javascripts/vendor.js")
        script(src="javascripts/app.js")
        link(rel="stylesheet",href="stylesheets/app.css")
        :coffeescript
            # this is the only bit of program in the web page at the moment
            $ -> 
                $('#doit').click(()->
                    $('#response').append("<p>#{$('#instruction').val()}</p>")
                )
    body.application
        .container
            .row
                .span10.offset1
                    // change this here
                    h1  Adventure Game
                    h2 First Experiment
                    // change this here
                    p
                        | This first step shows you the basics of the game. There is an area where the game
                        | tells you what is happening. At the bottom is a box in which you can type in instructions.
                        | Next to it is a button which if you click will tell the character to do that thing.
                    p
                        | It is basic at the moment. If you press the button it just repeats that text in the box 
                        | above it. Go on try it!
                    .row
                        .span8.game
                            .span7
                                h4.game Adventure in the Wilderness
                                .monitor
                                    #response
                                h4.game What's your next move?
                                .input-append
                                    input.span6#instruction(type="text",placeholder="tell me what to do...")
                                    button.btn#doit(type="submit") Do it
                    include includes/_instructions-ex1

            .row.
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">CoffeeScript Adventure Games Tutorial</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/ChrisWroe/cs-game-tute" property="cc:attributionName" rel="cc:attributionURL">Chris Wroe</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                
       
                                     