doctype 5
html(lang="en")
    head
        title CoffeeScript Adventure Game Based Tutorial
        script(src="javascripts/vendor.js")
        script(src="javascripts/app.js")
        link(rel="stylesheet",href="stylesheets/app.css")
    body
        .container
            .row
                .span8
                    h1 Tutorial Exercises
                    ul
                        li
                            a(href="adventure-ex1.html") Exercise 1
                            p
                                | This first step shows you the basics of the game. There is an area where the game
                                | tells you what is happening. At the bottom is a box in which you can type in instructions.
                                | Next to it is a button which if you click will tell the character to do that thing.
                            p
                                | It is basic at the moment. If you press the button it just repeats that text in the box 
                                | above it.
                        li
                            a(href="adventure-ex2.html") Exercise 2
                            p
                                | In this second step we will get the game to respond to specific instructions. The most
                                | useful first one would be moving around.
            .row
                .footer.
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">CoffeeScript Adventure Games Tutorial</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/ChrisWroe/cs-game-tute" property="cc:attributionName" rel="cc:attributionURL">Chris Wroe</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                    
                            