doctype 5
html(lang="en")
    head
        title CoffeeScript Adventure Game Based Tutorial
        script(src="javascripts/vendor.js")
        script(src="javascripts/app.js")
        link(rel="stylesheet",href="stylesheets/app.css")
    body
        .container
            .row
                .span8
                    h1 Tutorial Exercises
                    ul
                        li
                            a(href="adventure-ex1.html") Exercise 1
                            p
                                | This first step shows you the basics of the game. There is an area where the game
                                | tells you what is happening. At the bottom is a box in which you can type in instructions.
                                | Next to it is a button which if you click will tell the character to do that thing.
                            p
                                | It is basic at the moment. If you press the button it just repeats that text in the box 
                                | above it.
                            