h2 Instructions
p
    | The aim of this exercise is for you to understand enough to change a bit of the webpage. 
    | The title at the top of the page for example. I'll just give you enough info to change something, 
    | then to understand exactly what you are doing read the background section of this web page.
p.
    Open up the following file in a text editor. See <a href="#editor">what is a text editor</a>
     for more info.
pre
    code app/jade-doc/adventure-ex1.jade
p.
    Look for some text near the top of the file that says this
// dont change this one this is just the instructions!
pre
    code.
        h1 Wroe Family Adventure Game
        h2 First experiment
// dont change this one this is just the instructions!
p.
    Change the text after the h1 or h2 to something else in the text editor then save the file.
    Then reload the page in the browser. 
    That is click the circular arrows.
 
include _background-ex1
